<%- contentFor('title') %>Home
<%- contentFor('body') %>
<h1>This is the about page</h1>
<ul>
  <li><a href="/about?name=Chris&lastname=Hawkins">Click Me!</a></li>
</ul>

<p>Hey! I'm <%= name %> <%= lastname %></p>
