<%- contentFor('title') %>Delete post
<%- contentFor('body') %>
You wanna edit this??: <%= record.title %>?
<form method="post" action="/delete-post?id=<% record.id %>">
  <button type="submit" class="btn btn-danger">DELETE</button>
  <a class="btn btn-default" href="/posts?id=<%= record. %>">Cancel</a>
  <form>
